@model OrderEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>
    Edit Order @Model.Order.OrderId
</h1>
<br />
<p><b>Order Date:</b> @Model.Order.OrderDate</p>
<p><b>Customer:</b> @Model.Order.Customer.ContactName, @Model.Order.Customer.ContactTitle | @Model.Order.Customer.CompanyName</p>
<p><b>Shipping Address:</b> @Model.Order.ShipAddress, @Model.Order.ShipCity, @Model.Order.ShipCountry</p>
<p><b>CustomerID:</b> @Model.Order.CustomerId</p>



<h2>Products:</h2>
@Html.ValidationSummary(true)
<br>
<div class="accountInfo">
    @using (Html.BeginForm(FormMethod.Post))
    {
        <fieldset>
            <legend>Order information</legend>
            @for (int i = 0; i < Model.Order.OrderDetails.Count; i++)
            {
                    <p>
                        @Html.LabelFor(m => m.Order.OrderDetails[i].Product.ProductName, "Product:")
                        @Html.DisplayFor(m => m.Order.OrderDetails[i].Product.ProductName)
                        @Html.ValidationMessageFor(m => m.Order.OrderDetails[i].Product.ProductName)
                    </p>

                    <p>
                        @Html.LabelFor(m => m.Order.OrderDetails[i].Quantity, "Quantity")
                        @Html.TextBoxFor(m => m.Order.OrderDetails[i].Quantity,
                                new { @value = Model.Order.OrderDetails[i]?.Quantity })
                        @Html.ValidationMessageFor(m => m.Order.OrderDetails[i].Quantity)
                    </p>
                    <p>
                        @Html.LabelFor(m => m.Order.OrderDetails[i].Discount, "Discount:")
                        @Html.TextBoxFor(m => m.Order.OrderDetails[i].Discount,
                                 new { @value = Model.Order.OrderDetails[i].Discount})
                        @Html.ValidationMessageFor(m => m.Order.OrderDetails[i].Discount)
                    </p>

                    <p>
                        @Html.LabelFor(m => m.Order.OrderDetails[i].Product.UnitPrice, "Unit Price")
                        @Html.DisplayFor(m => m.Order.OrderDetails[i].Product.UnitPrice)
                        @Html.ValidationMessageFor(m => m.Order.OrderDetails[i].Product.UnitPrice)
                    </p>


@*                     <p>
                        @Html.LabelFor(m => m.Order.OrderPayments[i].AmountPaid, "Total with shipping")
                        @Html.DisplayFor(m => m.Order.OrderPayments[i].AmountPaid)
                        @Html.ValidationMessageFor(m => m.Order.OrderPayments[i].AmountPaid)
                    </p> *@                
            }

        </fieldset>
        <form action="/submit-changes" method="POST">
            <p class="submitButton">
                <input type="submit" value="Save changes">
            </p>
        </form>
    }
</div>
