@model OrderEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>
    Edit Order @Model.Order.OrderId
</h1>
<br />
<p><b>Order Date:</b> @Model.Order.OrderDate</p>
<p><b>Customer:</b> @Model.Order.Customer.ContactName, @Model.Order.Customer.ContactTitle | @Model.Order.Customer.CompanyName</p>
<p><b>Shipping Address:</b> @Model.Order.ShipAddress, @Model.Order.ShipCity, @Model.Order.ShipCountry</p>


<h2>Products:</h2>
@* <ul>
    @foreach (var detail in Model.Order.OrderDetails)
    {
        <li>
            Product: @detail.Product.ProductName<br />
            Quantity: @detail.Quantity<br />
            Unit Price: @detail.Product.UnitPrice<br />
        </li>
    }
</ul> *@
@Html.ValidationSummary(true)
<br>
<div class="accountInfo">
    @using (Html.BeginForm(FormMethod.Post))
    {
        <fieldset>
            <legend>Order information</legend>
            @for (int i = 0; i < Model.Order.OrderDetails.Count; i++)
            {
                @for(int j = 0; j <Model.Order.OrderPayments.Count; j++)
                {
                    <p>
                        @Html.LabelFor(m => m.Order.OrderDetails[i].Product.ProductName, "Product:")
                        @Html.DisplayFor(m => m.Order.OrderDetails[i].Product.ProductName)
                        @Html.ValidationMessageFor(m => m.Order.OrderDetails[i].Product.ProductName)
                    </p>

                    <p>
                        @Html.LabelFor(m => m.Order.OrderDetails[i].Quantity, "Quantity")
                        @Html.TextBoxFor(m => m.Order.OrderDetails[i].Quantity,
                                new { @value = Model.Order.OrderDetails[i]?.Quantity })
                        @Html.ValidationMessageFor(m => m.Order.OrderDetails[i].Quantity)
                    </p>

                    <p>
                        @Html.LabelFor(m => m.Order.OrderDetails[i].Product.UnitPrice, "Unit Price")
                        @Html.DisplayFor(m => m.Order.OrderDetails[i].Product.UnitPrice)
                        @Html.ValidationMessageFor(m => m.Order.OrderDetails[i].Product.UnitPrice)
                    </p>
                    <p>
                        @Html.LabelFor(m => m.Order.OrderDetails[i].Order.SubTotal, "Sub Total")
                        @Html.DisplayFor(m => m.Order.OrderDetails[i].Order.SubTotal)
                        @Html.ValidationMessageFor(m => m.Order.OrderDetails[i].Order.SubTotal)
                    </p>
                    <p>
                        @Html.LabelFor(m => m.Order.OrderPayments[i].AmountPaid, "Total with shipping")
                        @Html.DisplayFor(m => m.Order.OrderPayments[i].AmountPaid)
                        @Html.ValidationMessageFor(m => m.Order.OrderPayments[i].AmountPaid)
                    </p>
                }
            }
        </fieldset>
        <p class="submitButton">
            <input type="submit" value="Save changes">
        </p>
    }
</div>
